<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel=preconnect href="https://holyjs.ru/">
  <base href="{{env.baseUrl}}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="I'm a Frontend software developer who builds sites and apps that help people reach their personal and professional goals." />
  {% set css %}
     {% include "../assets/fonts/inter.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
  <link rel="stylesheet" href="{{ 'assets/css/tailwind.css' | url }}">
  <title>
    HolyJS. Темы на заказ. {{ title }}
  </title>
  <script defer src="{{ 'assets/js/alpine.js' | url }}"></script>
  <style>
      .gradient {
        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
        background: rgb(5,11,17);
background: linear-gradient(90deg, rgba(5,11,17,1) 0%, rgba(165,55,154,1) 41%, rgba(9,9,121,1) 100%);
      }
    </style>
</head>

<body class="leading-normal tracking-normal text-white gradient">
  {% include "header.njk" %}
  <section class="bg-white border-b py-8 text-slate-800">
    <div class="container max-w-5xl mx-auto m-8">
      {% block main %}
        {{ content | safe }}
      {% endblock %}
    </div>
  </section>
  {% include "footer.njk" %}

  <script class=js-additional fetchpriority=low delay="assets/js/instantpage.js" type=module defer></script>
  <script>const autoLoadDuration = 5, eventList = ["keydown", "mousemove", "wheel", "touchmove", "touchstart", "touchend"], autoLoadTimeout = setTimeout(runScripts, 5e3); function triggerScripts() {runScripts(), clearTimeout(autoLoadTimeout), eventList.forEach(function (a) {window.removeEventListener(a, triggerScripts, {passive: !0})})} function runScripts() {document.querySelectorAll("script[delay]").forEach(function (a) {a.setAttribute("src", a.getAttribute("delay"))})} const params = new URLSearchParams(window.location.search); params.get('coupon') ? runScripts() : eventList.forEach(function (a) {window.addEventListener(a, triggerScripts, {passive: !0})})</script>

</body>

</html>
