<!DOCTYPE html>
<html lang="ru">
<head>
  <base href="{{env.baseUrl}}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="I'm a Frontend software developer who builds sites and apps that help people reach their personal and professional goals." />
  {% set css %}
     {% include "../assets/fonts/inter.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
  <link rel="stylesheet" href="{{ 'assets/css/tailwind.css' | url }}">
  <title>{{ title }}</title>
  <script defer src="{{ 'assets/js/alpine.js' | url }}"></script>
  <style>
      .gradient {
        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
        background: rgb(5,11,17);
background: linear-gradient(90deg, rgba(5,11,17,1) 0%, rgba(165,55,154,1) 41%, rgba(9,9,121,1) 100%);
      }
    </style>
</head>

<body class="leading-normal tracking-normal text-white gradient">
  {% include "header.njk" %}
  {% include "body.njk" %}
  {% include "footer.njk" %}
</body>

</html>
