<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel=preconnect href="https://holyjs.ru/">
  <base href="{{env.baseUrl}}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="I'm a Frontend software developer who builds sites and apps that help people reach their personal and professional goals." />
  {% set css %}
     {% include "../assets/fonts/inter.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
  <link rel="stylesheet" href="{{ 'assets/css/tailwind.css' | url }}">
  <title>
    HolyJS. Темы на заказ. {{ title }}
  </title>
  <script defer src="{{ 'assets/js/alpine.js' | url }}"></script>
  <style>
      .gradient {
        background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
        background: rgb(5,11,17);
background: linear-gradient(90deg, rgba(5,11,17,1) 0%, rgba(165,55,154,1) 41%, rgba(9,9,121,1) 100%);
      }
    </style>
</head>

<body class="leading-normal tracking-normal text-white gradient">
  {% include "header.njk" %}
  <section class="bg-white border-b py-8 text-slate-800">
    <div class="container max-w-5xl mx-auto m-8">
      {% block main %}
      <h2>
        Выбор темы
      </h2>
      <p>
        Друзья, мы очень ценим ваш интерес к участию в наших конференциях как в качестве спикеров, так и в качестве слушателей. Мы проводим HolyJS начиная с 2016 года. На каждом мероприятии мы встречаем тех из вас, кто очень хотел бы выступить, но пока не чувствует себя готовым. Причина, как правило, звучит так: &laquo;Я не могу придумать, о чем рассказывать&raquo;. Если вы тоже столкнулись с этой проблемой, у нас есть хорошая новость &mdash; мы знаем, как вам помочь.
      </p>
      <p>
      Мы в программном комитете придумали и описали для вас несколько интересных и актуальных тем, по которым вы могли бы подготовить полноценные доклады.
      </p>
        {{ content | safe }}
      <h2>Подготовка доклада</h2>
      <p>
      Допустим, вам понравилась одна из тем и вы твердо решили, что хотите с ней выступить. 
      Первое, что нужно помнить, – работа над докладом требует времени и усилий. Мы поддержим вас, поможем советами, но основную работу по подготовке вам всё же придётся проделать самостоятельно.
      </p>
      <p>
      Если трудности и преграды вас не пугают, то самое время подать <a href="https://callforpapers.jugru.org/holyjs-2023%20spring#step1">заявку</a> на нашем официальном сайте. 
      Спустя какое-то время с вами свяжется ваш куратор и расскажет, как пошагово будет проходить подготовка.
      </p>
      <p>Уверены, при должном старании у вас все получится. Удачи!</p>
      {% endblock %}
    </div>
  </section>
  {% include "footer.njk" %}

  <script class=js-additional fetchpriority=low delay="assets/js/instantpage.js" type=module defer></script>
  <script>const autoLoadDuration = 5, eventList = ["keydown", "mousemove", "wheel", "touchmove", "touchstart", "touchend"], autoLoadTimeout = setTimeout(runScripts, 5e3); function triggerScripts() {runScripts(), clearTimeout(autoLoadTimeout), eventList.forEach(function (a) {window.removeEventListener(a, triggerScripts, {passive: !0})})} function runScripts() {document.querySelectorAll("script[delay]").forEach(function (a) {a.setAttribute("src", a.getAttribute("delay"))})} const params = new URLSearchParams(window.location.search); params.get('coupon') ? runScripts() : eventList.forEach(function (a) {window.addEventListener(a, triggerScripts, {passive: !0})})</script>

</body>

</html>
