{% extends "./base.njk" %}

{% block main %}
  {% if inProgress %}
    <p class="bg-zinc-100 px-4 text-sm py-2 border border-solid border-zinc-300 rounded">
      К сожалению данная тема уже находится в работе. Вы можете поискать другую в 
      <a href="{{ env.baseUrl }}">
      списке тем
      </a>
    </p>
  {%endif%}
  <h1 class="text-4xl pb-2">
     {{ title }}
  </h1>
  {{ content | safe }}
  <div class="flex justify-center">
    {% if not inProgress%}
      <a href="{{ env.baseUrl }}" class="mr-5 hover:no-underline hover:underline bg-slate-700 text-slate-100 rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
        Подать заявку
      </a>
    {% endif%}
    <a href="{{ env.baseUrl }}" class="hover:no-underline hover:underline bg-slate-100 text-slate-700 rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
      Все доклады
    </a>
  </div>
{% endblock %}
